In [1]:
import pandas as pd
import numpy as np

# Importando os dados.

In [2]:
dados_alugueis = pd.read_csv("C:/Users/alexa/OneDrive/Área de Trabalho/Nova pasta/AB_NYC_2019.csv")

In [3]:
dados_alugueis.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

# Calculando o valor médio de alugel em Nova York.

In [4]:
preco_aluguel = dados_alugueis.loc[:,'price']

In [5]:
media =  np.mean(preco_aluguel)
print ("O valor médio dos aluguéis em Nova York é: ", media)

O valor médio dos aluguéis em Nova York é:  152.7206871868289

# Mostrando o aluguel mais caro de Nova York.

In [6]:
maior_valor = np.max(preco_aluguel)
print("O aluguel mais caro de Nova York é: ", maior_valor)

O aluguel mais caro de Nova York é:  10000

# Mostrando quantas regiões existem em Nova York.

In [7]:
regioes = dados_alugueis.loc[:,'neighbourhood_group']

In [8]:
regioes_unique = pd.unique(regioes)
print("As regiões de Nova York são: ", regioes_unique)

As regiões de Nova York são:  ['Brooklyn' 'Manhattan' 'Queens' 'Staten Island' 'Bronx']